@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Coffee Club!</h1>
    <p>Make sure to check out the <a asp-area="" asp-controller="Home" asp-action="Registration">Registration</a> to become a member!</p>
</div>
